// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	background: #fff;
	color: #333;
	font-family: "Open Sans", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
	height: 100%;
	width: 100%;
	background: linear-gradient(to top right, #4540a2, #43e9db);
}

.text-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	height: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.text {
	color: white;
	text-transform: uppercase;
}

.hundred {
	display: flex;
	align-items: center;
	justify-content: center;
}

.one {
	z-index: 11;
	width: 30px;
	height: 100%;
	background-color: white;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	position: relative;
}

.one-part {
	width: 23px;
	height: 50px;
	position: absolute;
	background-color: #ADD8E6;
	top: -6px;
	left: -10px;
	border-radius: 4px;
	transform: rotate(45deg);
}

.two {
	z-index: 10;
}

.three {
	z-index: 9;
}

.donut {
	width: 56px;
	height: 56px;
	border: 30px solid white;
	border-radius: 50%;
	text-align: center;

	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	margin: 0px -10px;
}

.second {
	font-size: 6rem;
	font-weight: bold;
	font-family: "Courier New", monospace;
	margin: -5px 0px -15px 0px;
	padding: 0;
	line-height: 1;
}

.third {
	font-family: "Courier New", monospace;
	font-size: 1.8rem;
	font-weight: bold;
	margin: 0;
	padding: 0;
	line-height: 1;
}
